<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Espania.css">
    <title>Curriculum España</title>
</head>
<body>
    <table>
        <tbody>
          <tr>
              <td class="c1 img-container" rowspan="4">
                  <p>Imagen</p>
              </td>
              <td class="c3 name-profile" colspan="3">
                  <p class="name-profile d-ib">Nombre</p> <span class="lastname-profile" > Apellido </span>
              </td>
          </tr>
          <tr>
              <td colspan="3">
                  <span class="vacant-profile"> Puesto ocupado/buscado</span>
              </td>
          </tr>
          <tr>
              <td colspan="3">Descripcion del puesto, aqui va un texto medio largo asi que tiene que aguantar esta verga, si sigo aumentando sigue agrandandose la imagen, habra que curar caracteres</td>
          </tr>
          <tr class="c1">
              <td>Numero de telefono</td>
              <td>Correo electronico</td>
              <td>Ubicacion</td>
          </tr>
        </tbody>
    </table>
</body>
</html>