<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
    html{
        width: 210mm;
        height: 297mm;
        box-sizing: border-box;
    }
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 8mm 8mm 8mm 8mm;
    }
    .table { display: table; width: 100%; border-collapse: collapse; }
    .table-row { display: table-row; }
    .table-cell { display: table-cell; width: 16.16mm; min-width: 16.66mm; border: 1px solid black; padding: 1em; }
  </style>
</head>
<body>
  <div class="table">
    <div class="table-row">
      <div class="table-cell">Si agrego contenido de mas aqui, tendria que ir hacia abajo</div>
      <div class="table-cell">2</div>
      <div class="table-cell">3</div>
      <div class="table-cell">4</div>
      <div class="table-cell">5</div>
      <div class="table-cell">6</div>
      <div class="table-cell">7</div>
    </div>
    <div class="table-row">
      <div class="table-cell" colspan="2"> <b>Hora del hecho:</b>9:00</div>
    </div>
  </div>
</body>
</html>